# Backend Configuration
PORT=8000
HOST=0.0.0.0

# MongoDB Configuration
MONGODB_URL=mongodb://localhost:27017
MONGODB_DB_NAME=drug_traceability

# Blockchain Configuration
BLOCKCHAIN_PROVIDER_URL=http://127.0.0.1:7545
CONTRACT_ADDRESS=0xDdC2E42B25385AB4c580643592BAe0D7440C21A0
PRIVATE_KEY=0xYourGanacheAccountPrivateKey   # From deployer or any account


# CORS
CORS_ORIGINS=["http://localhost:3000", "http://127.0.0.1:3000"]

# Security
SECRET_KEY=your-secret-key-here-change-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30      
